NEXT_PUBLIC_SUPABASE_URL=https://vufsuvhzuhbiwuqakbiz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1ZnN1dmh6dWhiaXd1cWFrYml6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyOTUzNzAsImV4cCI6MjA3NTg3MTM3MH0.pTfRUUO8Z0ZL1AIOUSxT2BHHoirFW9sYJaWamzkWRzU
